@*

        Joseph Vore | IS413 - Sec 004 | Assignment 6

        Assignment #6

        Continuing the Bookstore project we started in Assignment #5, we are going to add Pagination to
        our web app (using Tag Helpers) so that the number of pages and navigation is automatically
        generated based on the number of items in the list.
        We will display 5 items per page.

        Improve the URLs so that the user can type /P2 to access the second page and /P3 to access the
        third page and so on.

        Use Bootstrap to display the information in an attractive way. Use at least three new Bootstrap
        commands that you have never used before that are different from those used in Chapter 7.
        (#notcoveredinthevideos #notmeanttobedifficult – List the commands you used in the comments
        when you submit the program.) The page navigation should function so that the current page is
        highlighted in the list of page numbers, and that hovering over a page changes the appearance of
        the link as well.

        We want to start tracking the number of pages in the book as well. Update the model to store the
        number of pages, and then update the database, and add the number of pages to the view.
        After you have incorporated the Pagination, add three of your own favorite books to the
        SeedData, and rebuild the database to test that the Pagination works as it should.


        Bootstrap classes I implemented:

            1. Container-Fluid (line 30 of _Layout.cshtml)
            2. Mt & Mb - Margin top and Margin Bottom (Line 44 of this file)
            3. Align-Middle (Lines 50-59 of this file)

*@

@{
    ViewData["Title"] = "Home";
}

<!-- Pulling in the queryable Book model -->
@model ProjectListViewModel

<div class="text-center">
    <div class="row">
        <div class="col-4">
            <h1 class="display-4 mt-5 mb-5">Professor Hilton's Booklist</h1>
        </div>
        <div class="col-8">
            <vc:navigation-menu />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Creating a table with atomic fields | List of books is pulled from database and displayed correctly-->
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="align-middle">#</th>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Author<br />First Name</th>
                        <th scope="col" class="align-middle">Author<br />Middle Name</th>
                        <th scope="col" class="align-middle">Author<br />Last Name</th>
                        <th scope="col" class="align-middle">ISBN</th>
                        <th scope="col" class="align-middle">Classification</th>
                        <th scope="col" class="align-middle">Category</th>
                        <th scope="col" class="align-middle">Price</th>
                        <th scope="col" class="align-middle">Number of Pages</th>
                    </tr>
                </thead>

                <!-- For loop that loops through all instances of x (Books in DB) -->
                @foreach (var x in Model.Books)
                {
                    <partial name="ProjectSummary" model="x" />
                }
            </table>
        </div>
        <div class="col-12">
            <!-- Pagination with Bootstrap -->
            <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-url-category="@Model.CurrentCategory" page-class-selected="btn-primary" class="btn-group pull-right m-1 text-center"></div>
        </div>
    </div>
</div>